
html { 
 font-size:100%; 
}

body {
  margin: 0px;
/*background-color:green;*/
}


nav a:link {color:white; text-decoration:none;}/* unvisited link */
nav a:visited {color:white;}  /* visited link */
nav a:hover {
	
	border-bottom:4px solid white;
	cursor: pointer;

}  /* mouse over link */
nav a:active {color:black;}  /* selected link */



canvas {
  z-index:100;
  background-color: white;

  width:650px;
  height:920px;

  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -325px;
  margin-top: -410px;

  cursor: url(../images/pencil.png), auto;

/*  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/


  }




#svgDisplay {

	height:100%;

}

#svgDisplay img {	
	width:32%;
	margin-left:0.55%;
	margin-right:0.55%;
	margin-bottom:0.55%;
	margin-top:0.55%;
/*	-moz-box-shadow:    7px 7px 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 7px 7px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow:         7px 7px 3px 1px rgba(0, 0, 0, 0.5);*/
	position:relative;

}


#svgDisplay img:hover{
	cursor: url("http://downloads.totallyfreecursors.com/cursor_files/musicnote1.cur"), 
	url("http://downloads.totallyfreecursors.com/thumbnails/musicnote.gif"), auto;
	}




nav {
	position:fixed;
	top:25px;
	z-index:200;
	width:100%;
	height:30px;
	color:white;

	text-align:center;
	font-family:"helvetica";
	font-size:225%;

}

nav span{
	margin:0px 20px;
}

nav #refresh:hover, #listenAll:hover, #about-page:hover, #about-button:hover, #save:hover {
	border-bottom:4px solid white;
	cursor: pointer; 
}


#about-page {
	position:fixed;
	z-index:3000;
	height:100%;
	margin-left:25%;
	width: 50%;
	background-color:white;
}

#about-title {
	margin:10% 0;
	width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;

text-align:center;
	font-size:2.75em;
}

#about-body {
		width: 85%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	font-family:helvetica;
	text-align:center;
		font-size:1.65em;
	text-align:left;
	line-height:119%;
	word-spacing:90%;
}

